body {
  background-color: #ffff;
}

.jumbotron {
  padding-top: 5rem;
  background-color: #ffff;
}

#About {
  background-color: #06c8f8;
}

#contact {
  background-color: #06c8f8;
}

section {
  padding-top: 5rem;
}
